main {
  display: inline-flex;
  flex-direction: column; }

.playerHand, 
.playingArea {
  display: flex;
 }
  
.playerHand .card,
.playingArea .card {
    padding: 10px;
    cursor: pointer;
 }

 .playerHand .card img,
 .playingArea .card img {
      width: 100px;
}

.playerHand .card.selected {
      background-color: #0f0;
}
.playerHand .card.disabled {
      background-color: rgba(0, 0, 0, 0.1);
      opacity: 0.2;
}

.playerHand .card:not(.disabled):not(.selected):hover {
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0.5;
}

.confirm-move-button {
  font-size: 30px;
}
